:8080 {
	root * /srv

	@noTrailingSlash {
		not path */
		not path *.*
		file {path}/index.html
	}
	redir @noTrailingSlash {path}/ 301

	handle_errors {
		rewrite * /404.html
		file_server
	}

	@wantsMarkdown {
		header Accept *text/markdown*
		path_regexp mdpath ^(.+?)/?$
	}
	handle @wantsMarkdown {
		rewrite * {re.mdpath.1}/index.md
		header Content-Type "text/markdown; charset=utf-8"
		file_server
	}

	file_server

	encode zstd gzip

	import redirects
}
